<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="dseCnnString" connectionString="Data Source=.\SQL2014;Initial Catalog=Lenel;uid=app_user_1;pwd=Start=2017;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IntervalInHour" value="12"/>
    <add key="MaxRows" value="1000"/>
  </appSettings>
</configuration>