<?xml version="1.0" encoding="UTF-8"?>
    <Tables>
          <Table name="BadgeStat">
          <API>http://localhost:90/api/ImportData/temp_staging_lenel_badgstat</API>
          <GetSetting>http://localhost:90/api/GetSetting/BadgeStat</GetSetting>
          <UpdateSetting>http://localhost:90/api/UpdateSetting/BadgeStat</UpdateSetting>
        </Table>
        <Table name="Badge">
          <API>http://localhost:90/api/ImportData/temp_staging_lenel_bagde</API>
          <GetSetting>http://localhost:90/api/GetSetting/Badge</GetSetting>
          <UpdateSetting>http://localhost:90/api/UpdateSetting/Badge</UpdateSetting>
        </Table>
        <Table name="Reader">
          <API>http://localhost:90/api/ImportData/temp_staging_lenel_reader</API>
          <GetSetting>http://localhost:90/api/GetSetting/Reader</GetSetting>
          <UpdateSetting>http://localhost:90/api/UpdateSetting/Reader</UpdateSetting>
        </Table>
        <Table name="Emp">
          <API>http://localhost:90/api/ImportData/temp_staging_lenel_emp</API>
          <GetSetting>http://localhost:90/api/GetSetting/Emp</GetSetting>
          <UpdateSetting>http://localhost:90/api/UpdateSetting/Emp</UpdateSetting>
        </Table>
        <Table name="UDFEmp">
          <API>http://localhost:90/api/ImportData/temp_staging_lenel_udfemp</API>
          <GetSetting>http://localhost:90/api/GetSetting/UDFEmp</GetSetting>
          <UpdateSetting>http://localhost:90/api/UpdateSetting/UDFEmp</UpdateSetting>
        </Table>
        <Table name="WORLDTZ">
          <API>http://localhost:90/api/ImportData/temp_staging_lenel_worldtz</API>
          <GetSetting>http://localhost:90/api/GetSetting/WORLDTZ</GetSetting>
          <UpdateSetting>http://localhost:90/api/UpdateSetting/WORLDTZ</UpdateSetting>
        </Table>
        <Table name="Event">
          <API>http://localhost:90/api/ImportData/temp_staging_lenel_events</API>
          <GetSetting>http://localhost:90/api/GetSetting/Event</GetSetting>
          <UpdateSetting>http://localhost:90/api/UpdateSetting/Event</UpdateSetting>
        </Table>
       
    </Tables>

